*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth; /*Rolar a pag de maneira mais sutiu*/
}

body{
    font-family:sans-serif;
}

.grid{
    max-width: 1200px;
    box-sizing: border-box;
    padding: 15px;
    margin: 0 auto; /*para deixar a grid no centro*/
    padding-top: 73px; /*Se espaçando do roda-pé*/
}

.grid::after{
    content: '';
    display: block;
    clear: both; /*Limpa a esquerda e a direita, para os proximos elementos nao utizarem as sobras da div e sim pule a linha*/
}

.grid .col{
    box-sizing: border-box;
    width:33.33%;
    height: 300px;
    float: left; /*Quando tiver espaço, joge a div para esquerda*/
    padding: 15px;
}

.grid .col-content{
    width: 100%;
    height: 100%;
    background: darkmagenta;
    border-radius: 15px; /*Curvar as bordas*/
    /*border-radius: 50%; // transforma o quadrado em um circulo perfeito */
    box-shadow: 10px 10px 10px 10px gray; /*sobra no box*/
}
.menu{
    width: 100%;
    position: fixed;
    background: rgb(0, 0, 0, 0.85);
}

.menu ul{
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li{
    float: left;
    text-transform: uppercase;
}

.menu ul li a{
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
    transition: all 300ms ease-in-out; /*quando passamos o mouse em cima fica mais sutiu*/
}

.menu ul li a:hover{
  background: #4b4646;
}

.full-page{
    max-width: 100%;
    padding-top: 73px;
    height: 100vh;
    padding: 30px;
    background: turquoise;
}

.full-page-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}


@media(max-width: 578px){ /*Se o tamanho maximo da minha tela for de 375px, meu width sera 100%*/
    .grid .col{
        width: 100%;
    }
}

@media(min-width: 579px) and (max-width: 768px){ /*Se o tamanho maximo da minha tela for de e 768px e minimo de 376px, meu width sera 50% */
    .grid .col{
        width: 50%;
    }
}

@media(min-width: 1200px){ 
    .grid .col{
        width: 33.33%;
    }
}
